<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdd.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.xdd.entity.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="username" jdbcType="VARCHAR"
			property="username" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="create_time" jdbcType="DATE"
			property="createTime" />
		<result column="is_valid" jdbcType="INTEGER" property="isValid" />
		<result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
		<result column="email" jdbcType="VARCHAR" property="email" />
	</resultMap>
	<sql id="Base_Column_List">
		id, username, password, create_time, is_valid, pic_url, email
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.xdd.entity.User">
		insert into user (id, username, password,
		create_time, is_valid, pic_url,
		email)
		values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{createTime,jdbcType=DATE}, #{isValid,jdbcType=INTEGER}, #{picUrl,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xdd.entity.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="isValid != null">
				is_valid,
			</if>
			<if test="picUrl != null">
				pic_url,
			</if>
			<if test="email != null">
				email,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=DATE},
			</if>
			<if test="isValid != null">
				#{isValid,jdbcType=INTEGER},
			</if>
			<if test="picUrl != null">
				#{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.xdd.entity.User">
		update user
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=DATE},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=INTEGER},
			</if>
			<if test="picUrl != null">
				pic_url = #{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.xdd.entity.User">
		update user
		set username = #{username,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=DATE},
		is_valid = #{isValid,jdbcType=INTEGER},
		pic_url = #{picUrl,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="findByPaging" parameterType="hashmap"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from USER
		<where>
			is_valid = '1'
			<if test="startTime != null and startTime != ''">
				AND create_time &gt;= #{startTime,jdbcType=VARCHAR}
			</if>
			<if test="endTime != null and endTime != ''">
				AND create_time &lt;= #{endTime,jdbcType=VARCHAR}
			</if>
			<if test="username != null and username != ''">
				AND username = #{username,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="getUsers" parameterType="hashmap"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		<where>
			is_valid = '1'
			<if test="startTime != null and startTime != ''">
				AND create_time &gt;= #{startTime,jdbcType=VARCHAR}
			</if>
			<if test="endTime != null and endTime != ''">
				AND create_time &lt;= #{endTime,jdbcType=VARCHAR}
			</if>
			<if test="username != null and username != ''">
				AND username = #{username,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="getUser" parameterType="com.xdd.entity.User"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		<where>
			is_valid = '1'
			<if test="username != null and username != ''">
				AND username = #{username,jdbcType=VARCHAR}
			</if>
			<if test="password != null and password != ''">
				AND password = #{password,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>